.form {
  margin: 0 auto;
  max-width: 380px;

  &__field:not(:first-child) {
    margin-top: 50px;
  }

  &__button {
    margin-top: 50px;
  }

  &__fieldset {
    margin-top: 43px;
    text-align: left;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;

    legend {
      margin-bottom: 10px;
    }
  }

  &__radio {
    margin-top: 43px;
  }

  &__upload {
    margin-top: 47px;
  }

  &__success {
    margin: 0 auto;
  }
}
