.tooltip {
  position: fixed;
  padding: 3px 16px;
  border-radius: 4px;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  z-index: 9999;
}
